/Infrastructure/.terraform/
/Infrastructure/.terraform.lock.hcl
/Infrastructure/my-key-pair.pem
/Infrastructure/terraform.tfstate
/.DS_Store
/Infrastructure/terraform.tfstate.backup
/Infrastructure/cert.crt
/Infrastructure/csrfile.csr
/Infrastructure/keyfile.key